<header>
    <nav class="navbar">
        <div class="navbar-container">
            <img src="../../images/logo.png" alt="err" id="header-logo">
            <div class="seach_bar d-flex justify-content-center align-items-center mb-3">
                <div class="seach_content  input-group mx-3">
                    <input type="text" class="form-control" name="search" id="searchInput" placeholder="Find companies, for example: FPT" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="input-group-append  d-flex justify-content-center align-items-center" >
                        <span id="clear_icon">
                            <i class="fa fa-times"></i>
                        </span>
                        <span id="seach_icon" class="input-group-text" 
                        style="height: 100%; border-radius:0px 5px 5px 0px; padding: 8.5px;">                       
                            <i class="fa fa-search" style="border-radius: 0px;"></i>
                        </span>
            
                    </div>
                    <div class="collapse custom-collapse" id="collapseExample">
                        <div class="card card-body search_result">
                            <ul id="search_result_row">
                                <!-- <li class="list-group-item d-flex justify-content-between align-items-center"
                                    onclick="getcoursebyId('<%#=course._id.toString() %>')">
                                    <div class="course_picture">
                                        <img src="<%#=course.courseImage%>" alt="err">
                                    </div>
                                    <div class="course_name">
                                        <p><%#=course.courseName%></p>
                                    </div>
                                </li> -->
                            </ul>    
                        </div>
                    </div>
                </div>
            
                <div class="bell_icon mx-3" onclick="gotocart()">
                    <i class="bi bi-bell-fill"></i>
                </div>

                <!-- nếu role company thì hiện nút update profile -->
                <% if (account.role === 'company') { %>
                    <div class="update_profile_icon mx-3" alt="update profile">
                        <button class="btn btn-primary" onclick="editByBussinessId('<%= data.businessId %>')">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                <% } %>
            </div>
        </div>
    </nav>
</header>

<%- include('../partials/slide_board') %>

    <div class="table" id="table_product">
        <div class="container">
            <br>
            <!-- top 3 công ty hỗ trợ thực tập tốt nhất-->
            <div class="alert alert-warning" role="alert">
                <h3 class="title-type">MOST SUPPORTIVE COMPANIES FOR INTERNSHIPS</h3>
            </div>                
                        <!-- show top companies -->
                        
            <!--  hiện thành card có width == height (nhỏ hơn 150px) trên cùng 1 dòng-->
              <!-- chỉnh css chế độ sáng/tối cho text trong /public/css/style.css-->
                <!-- company đã verified -->
              <div class="d-flex flex-wrap" id="list_business">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-danger">TOP 1</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">TOP 2</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-success">TOP 3</a>
                        </div>
                    </div>
                </div>

            </div>
            
            
            <div class="alert alert-warning" role="alert">
                <h3 class="title-type"> BELOW ARE BUSINESSES THAT ARE LOOKING TO RECRUIT INTERNS</h3>
            </div>  
                <!-- <h2 id="list_course_empty"> -->
                <h2 id="list_business_empty"></h2>
                
                
                <!-- ví dụ (chỉnh thành card width > height (agoda), hiện tên, hình avatar company, số sao, điểm, địa chỉ) -->
                <!-- https://www.agoda.com/vi-vn/city/ho-chi-minh-city-vn.html?ds=mGfIFmNI%2BIISuWph -->
                <!-- chỉnh css chế độ sáng/tối cho text -->
                 <!-- hiện dấu verified chưa hoặc rồi -->
                <div class="row" id="list_business">
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        <div class="card">
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title
                                ">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>