<div class="update_business">
    <div class="container mt-5">
        
        <div class="row">
            <!-- nếu chưa update lần đầu thì luôn hiển thị "Please update your profile for the first time" -->
            <% if (data.profileUpdated === false) { %>
            <div class="alert alert-warning" role="alert">
                <h2>PLEASE UPDATE YOUR PROFILE FOR THE FIRST TIME! </h2>
            </div>
            <% } else { %>
                <h2 class="alert">BUSINESS PROFILE</h2>
            <% } %>
            <!-- Tên công ty -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputBusinessName" class="col-sm-2 col-form-label">Business Name
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputBusinessName" name="name" placeholder="Business Name"
                        required>
                    </div>
                </div>
            </div>

            <!-- Lĩnh vực hoạt động -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputIndustry" class="col-sm-2 col-form-label">Industry
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <select class="form-select" id="inputIndustry" name="industry" required>
                            <option value="" disabled selected>Select Industry</option>
                            <option value="IT">IT</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Finance">Finance</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Education">Education</option>
                            <option value="Manufacturing">Manufacturing</option>
                            <option value="Retail">Retail</option>
                            <option value="Construction">Construction</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Real Estate">Real Estate</option>
                            <option value="Telecommunications">Telecommunications</option>
                            <option value="Energy">Energy</option>
                            <option value="Hospitality">Hospitality</option>
                            <option value="Legal">Legal</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Media">Media</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Consulting">Consulting</option>
                            <option value="Nonprofit">Nonprofit</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Quy mô công ty -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputSize" class="col-sm-2 col-form-label">Company Size</label>
                    <div class="col-sm-10">
                        <select id="inputSize" name="size" class="form-select" required>
                            <option value="Small">Small</option>
                            <option value="Medium" selected>Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Website -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputWebsite" class="col-sm-2 col-form-label">Website
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="inputWebsite" name="website" 
                        placeholder="https://example.com">
                    </div>
                </div>
            </div>

            <!-- Mô tả -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputProfile" class="col-sm-2 col-form-label">Profile Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputProfile" name="profile" rows="3" 
                        placeholder="Detailed description about your business (optional)" required>
                        </textarea>
                    </div>
                </div>
            </div>

            <!-- Email liên hệ -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputContactEmail" class="col-sm-2 col-form-label">Contact Email
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputContactEmail" name="contactEmail" 
                        placeholder="Contact Email" required>
                    </div>
                </div>
            </div>

            <!-- Số điện thoại -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Phone Number
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="inputPhoneNumber" name="phoneNumber"
                        placeholder="Phone Number" required>
                    </div>
                </div>
            </div>
            <!-- Địa chỉ -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputAddress" class="col-sm-2 col-form-label">Address
                        <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAddress" name="address" 
                        placeholder="Address" 
                        required>
                    </div>
                </div>
            </div>
            <!-- Địa chỉ với Google Maps API -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputLocation_post" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLocation_post" name="location" placeholder="Move the marker below to your business location" required>
                        <div id="map" class="mt-3" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>

            <!-- Danh sách hình ảnh -->
            <div class="col-12 mb-3">
                <div class="row">
                    <label for="inputImages" class="col-sm-2 col-form-label">Your Company Images</label>
                    <div class="col-sm-10">
                        <input type="file" id="inputImages" name="images" class="form-control" accept="image/*" multiple>
                        <!-- preview ảnhs đã lưu -->
                        <div id="imagePreview" class="mt-3 d-flex flex-wrap">
  
                        </div>
                    </div>
                </div>
            </div>


            <!-- Video quảng cáo -->
            <div class="form-group">
                <label for="inputPromotionVideo"><strong>Your YouTube Promotion Video Embed Link</strong></label>
                <input type="text" class="form-control" id="inputPromotionVideo" placeholder="https://www.youtube.com/embed/VIDEO_ID">
                <button class="btn btn-primary mt-2" id="setVideoBtn">Watch Preview</button>
            </div>
            
            <div id="promotionVideoPreview" class="mt-3">

            </div>            

            <!-- Document Upload -->
            <div class="form-group">
                <div class="row">
                    <label for="inputDocuments" class="col-sm-2 col-form-label"><strong>Business Documents </strong></label>
                    <span class="text-danger"> (Including: Business License, Business Registration Certificate, Tax Identification Number,
                        Certificate of Good Standing, Articles of Incorporation, Operating Agreement, 
                        Proof of Address, Insurance Certificate, Professional License) 
                    </span>
                </div>

                <div class="col-sm-15">
                    <input type="file" class="form-control" id="inputDocuments" name="documents" multiple>
                    <div id="documentPreview" class="mt-3"></div>
                </div>
            </div>

            <!-- Nút Lưu -->
            <div class="d-grid gap-2 col-6 mx-auto" style="margin-bottom: 20px;">
                <button id="updateBusinessBtn" type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/flash-message') %>
<%- include('../partials/css-library') %>
<!-- nếu doanh nghiệp đăng nhập lần đầu thì phải cập nhật đủ thông tin doanh nghiệp -->
<script src="/javascripts/update-business.js"></script>

<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs2CCj3DSth7s_9YHuG5EazDGskh5uKGk&callback=initMap" 
async 
defer>
</script>
</div>

<%- include('../partials/footer') %>