<% var feature=data.feature%>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="modal-logout" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-logout">Đăng Xuất</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn đăng xuất ? <strong id="id"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                        id="confirm">Có</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="show_info_payment" tabindex="-1" aria-labelledby="modal-info-payment" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete">Payment info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Card Owner: <strong class="payment_owner"></strong></p> <br>
                    <p>Payment Id: <strong class="payment_id"></strong></p> <br>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete">Xóa khóa học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa khóa học ?  <strong class="id_course"></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                        id="confirm_delete">Có</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
