
<div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
    <section id="slider">
        <div class="aspect-ratio-169">
            <img src="../../images/slide/slide4.jpg" alt="slide1">
            <img src="../../images/slide/slide2.jpg" alt="slide2">
            <img src="../../images/slide/internship_program_2024_poster.png" alt="slide3">
            <img src="../../images/slide/interns-looking.png" alt="slide4">
        </div>

        <div class="dot-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot active"></div>
        </div>
    </section>
</div>