APP_NAME= EduSphere
APP_URL= http://localhost:3000
MONGODB_URI= mongodb+srv://guu:zcmsDhs4wMRvs05W@edusphere.aykl9ab.mongodb.net/EduSphere?retryWrites=true&w=majority

PORT = 3000
ENVIROMENT = development
SESSION_SECRET = guu_T:19:30_D:256
JWT_SECRET = guu_T:19:30_D:256

BCRYPT_SALT_ROUND=10

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
# MAIL_USERNAME=trangiauu@gmail.com
# MAIL_PASSWORD=yhkbgejphlefzsse

# MAIL_USERNAME=trangiauu@gmail.com
# MAIL_PASSWORD=yhkbgejphlefzsse
MAIL_USERNAME=wiyanchen33@gmail.com
MAIL_PASSWORD=gyzlzuafircdlxqp
# TEST MAIL by mailtrap
EMAIL_USER=4556e4e34baea0
EMAIL_PASS=ef5149f2bb555b
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=25

GOOGLE_CLIENT_ID=135121498507-hvmgmsc29f6bbfqicpiv01r9l1h85mtg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

STRIPE_SECRET = sk_test_51P4JD5Rx965laN4zI2w2nxv2LFb7QQ8yv1A3YdMg4rdjL6tbtWsxipUHje6DSL75czGRwvm89AHsDQ9QJqd2yMvP00HxJ7Z9N0
STRIPE_PUBLIC = pk_test_51P4JD5Rx965laN4zwIuCFeX5EcaH3BcbXl9MbICVl8ECPlhtwEMaDT3DmxfyK5sL5o44gc0lbif8u9gs7tthbRgr00rV1ODkjR

MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=trangiauu@gmail.com
MAIL_FROM_NAME="${APP_NAME}"


